<h1>Login to MtG Deckbuilder</h1>

<br><form action="/login" method="POST">
  <p><label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <p><label for="password">Password: </label>
  <input type="text" name="password" id="password">
  <p><input type="submit" value="Login" id="submit">
</form>
