<h1>Welcome, <%= current_user.username %></h1>

<br><a href="/decks/new">Create New Deck</a>

<br><br><h2>Decks:</h2>
<br><% current_user.decks.each do |deck| %>
  <a href="/decks/<%= deck.id %>"><%= deck.name %></a><br><br>
<% end %>

<br><br><a href="/logout">Logout</a>
