<h1><%= @user.name %></h1>
<% if @user == current_user %>
<a href="/users/<%= @user.slug %>/edit"><input type="submit" value="Update Account Information"></a><br>
<% end %>

<br><h2>Decks:</h2>
<div class="user-decks"><% @user.decks.each do |deck| %>
  <a href="/decks/<%= deck.slug %>"><%= deck.name %></a>
<% end %></div><br>

<% if @user == current_user %>
<br><a href="/decks/new"><input type="submit" value="Create New Deck"></a>
<% end %>
