<h1>Welcome, <%= current_user.name %></h1>

<br><a href="/decks/new"><input type="submit" value="Create New Deck"></a>

<br><br><h2>Decks:</h2>
<br><% current_user.decks.each do |deck| %>
  <a href="/decks/<%= deck.id %>"><%= deck.name %></a><br><br>
<% end %>

<br><br><a href="/logout"><input type="submit" value="Logout"></a>
