<h1>Create a New Deck</h1>

<br><form action="/<%= current_user.slug %>/decks" method="POST">
  <p><label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <p><label for="format">Format: </label>
  <select name="format" id="format">
    <option value="Standard">Standard</option>
    <option value="Modern">Modern</option>
    <option value="Legacy">Legacy</option>
    <option value="Vintage">Vintage</option>
    <option value="Commander">Commander</option>
  </select>
  <p><label for="colors">Color(s): </label>
  <input type="checkbox" name="colors[]" value="Black">Black
  <input type="checkbox" name="colors[]" value="Blue">Blue
  <input type="checkbox" name="colors[]" value="Green">Green
  <input type="checkbox" name="colors[]" value="Red">Red
  <input type="checkbox" name="colors[]" value="White">White
  <input type="checkbox" name="colors[]" value="Colorless">Colorless
  <p><label for="decklist">Decklist: </label>
  <input type="text" name="decklist" id="decklist">
  <p><input type="submit" value="Create" id="submit">
</form>
