<h1>Create a New Deck</h1>

<br><form action="/<%= current_user.slug %>/decks" method="POST">
  <p><label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <p><label for="format">Format: </label>
  <input type="text" name="format" id="format">
  <p><label for="colors">Color(s): </label>
  <input type="text" name="colors" id="colors">
  <p><label for="decklist">Decklist: </label>
  <input type="text" name="decklist" id="decklist">
  <p><input type="submit" value="Create" id="submit">
</form>
